<!DOCTYPE html>
<html>

<head>
	{{> styles}}
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	 {{#each jsscripts}}
	<script src="/static/{{this}}"></script>
	{{/each}}
</head>

<body>
	{{> navbar}}
	{{{body}}}
	{{> footer}}
</body>

</html>